{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true
  },
  "rules": {    
    "no-confusing-arrow": 0,
    "jsx-quotes": [2, "prefer-double"],
    "eol-last": 1,
    // Override AirBnB Rules
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "default-case": 0,
    "func-names": 0,
    "indent": [2, 3, { "SwitchCase": 1, "VariableDeclarator": 1 }],
    "max-len": [2, 150],
    "no-console": 0,
    "no-nested-ternary": 0,
    "no-param-reassign": 0,
    "no-var": 0,
    "no-use-before-define": 0,
    "one-var": [2, { "uninitialized": "always", "initialized": "never" }],
    "one-var-declaration-per-line": [2, "initializations"],
    "spaced-comment": [2, "always", { "exceptions": ["*"] }],
    "space-before-function-paren": [2, { "anonymous": "always", "named": "always" }],
    "vars-on-top": 0
  }
}
